html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

header {
    padding: 0.5%;
    text-align: center;
    color: #2a71cde3;
}

#app {
    background-color: #f7f7f7 !important;
}
.grey_color {
    color: #494949;
}

textarea {
    height: 150px !important;
}
.btn_fa {
    border-color: #2a71cde3;
    color: white;
    background-color: #2a71cde3;
}

.btn_fa:hover {
    color: #2a71cde3;
    background-color: whitesmoke;
}

.primary_color {
    color: #2a71cde3;
}

.eventDetailed {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 12px #a7a7a7;
}

.close_detailed {
    text-align: right;
    margin-bottom: 1rem;
    font-size: larger;
}

.close_detailed .fa-solid {
    cursor: pointer;
}

.box_checkbox {
    display: flex;
    align-items: center;
    accent-color: #2a71cde3;
}

.linkedbtn {
    padding: 1em;
}

.fc-event {
    cursor: pointer;
}

.fc-event-time {
    display: none;
}

.listBtn {
    position: absolute;
    left: 0px;
}

.back_btn {
    position: absolute;
    left: 0;
    padding: 1em;
    font-size: larger;
}

.scale-y-enter-active,
.scale-y-leave-active {
    transition: all 0.3s ease;
}

.scale-y-enter-from,
.scale-y-leave-to {
    opacity: 0;
    transform: scaley(2em);
}

.scale-x-enter-active,
.scale-x-leave-active {
    transition: all 0.3s ease;
}

.scale-x-enter-from,
.scale-x-leave-to {
    opacity: 0;
    transform: scalex(2em);
}
.box_code {
    border-right: 1px solid;
    padding-right: 6px;
}
.UE {
    color: #92429d !important;
}

.UE:hover {
    text-decoration-color: #92429d !important;
    text-decoration: underline;
}

.AAV {
    color: #156e1c !important;
}
.AAV:hover {
    text-decoration-color: #156e1c !important;
    text-decoration: underline;
}
.PRO {
    color: cadetblue !important;
}
.PRO:hover {
    text-decoration-color: cadetblue !important;
    text-decoration: underline;
}
.AAT {
    color: #b80f0f !important;
}
.AAT:hover {
    text-decoration-color: #b80f0f !important;
    text-decoration: underline;
}
.PRE {
    color: #eba714 !important;
}
.PRE:hover {
    text-decoration-color: #eba714 !important;
    text-decoration: underline;
}

.fc-day-today {
    background-color: rgb(183 174 239 / 32%) !important;
}

.ql-container {
    background-color: white;
}

.modal-backdrop {
    position: fixed !important;
    z-index: 1040 !important;
}

.modal {
    position: fixed !important;
    z-index: 1055 !important; /* plus haut que le backdrop */
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #2a71cde3 !important;
    border-color: #2a71cde3 !important;
}

.page-link {
    color: #2a71cde3 !important;
}

.form-check-input {
    accent-color: #2a71cde3;
}

.secondary_color {
    color: #5a5a5a;
}
.green_color {
    color: rgb(3, 192, 3);
}
.cursor_pointer.green_color:hover {
    color: rgb(121, 216, 121);
}
.semester-card {
    background: #fdfdfd;
}
.fa-pen-to-square.primary_color:hover{
    color: #6590c9e3;
}
.deleteBtn{
    color: #e70c0c;
}
.deleteBtn:hover{
    color : #e26969;
    cursor: pointer;
}

.badge {
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 15px;
}

.ue-block {
    border-left: 2px solid #ddd;
    padding-left: 10px;
}

.ec-card {
    background: #fafafa;
}

.dot-green {
    height: 10px;
    width: 10px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-block;
}
.medium_mapping,
.weak_mapping,
.strong_mapping {
    border-radius: 100px;
    padding: 6px 12px;
    font-weight: 700;
}

.strong_mapping {
    color: green;
    border: 2px solid green;
    background-color: #e0ffe7;
}

.medium_mapping {
    color: orange;
    border: 2px solid orange;
    background-color: rgb(255, 232, 189);
}

.weak_mapping {
    color: #5a5a5a;
    border: 2px solid #5a5a5a;
    background-color: #e7e7e7;
}

.btn-outline-secondary {
    color: #080808;
    background-color: #f7f7f7;
    border-color: #e7e7e7;
}

.btn-outline-primary {
    color: #2a71cde3;
    border-color: #2a71cde3;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2a71cde3;
    border-color: #2a71cde3;
}

.btn-primary {
    background-color: #2a71cde3 !important;
    border-color: #2a71cde3 !important;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: #2a71cde3 !important;
}
