html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

header {
    padding: 0.5%;
    text-align: center;
    border-bottom: 1px solid #95959f;
    color: #42429d;
}

ul {
    list-style-type: none;
}

textarea {
    height: 150px !important;
}

.menu {
    text-align: center;
    position: fixed;
    left: 0;
    width: 20%;
}

button {
    border: 1px solid #42429d;
    background-color: #ffffff;
    color: #42429d;
}

.btn-primary {
    background-color: #42429d !important;
    border-color: #42429d !important;
    padding: 5px 10px;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: #42429d !important;
}

.btn_fa:hover {
    border-color: #42429da2;
    color: #42429da2;
}

.fa-solid {
    color: #42429d;
}

.primary_color {
    color: #42429d;
}

.eventDetailed {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 12px #a7a7a7;
}

.close_detailed {
    text-align: right;
    margin-bottom: 1rem;
    font-size: larger;
}

.close_detailed .fa-solid {
    cursor: pointer;
}

.vuecal__cell--selected {
    background-color: #42429d3a !important;
    color: white;
}
.modal_calendar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    outline: 0;
}
.box_checkbox {
    display: flex;
    align-items: center;
    accent-color: #42429d;
}

.listChildUE {
    background-color: #f1f1f1;
    padding: 1.5em;
}

a {
    color: #42429d !important;
}

.linkedbtn {
    padding: 1em;
}

.menu .btn {
    width: 80%;
}

.fc-event {
    cursor: pointer;
}

.fc-event-time {
    display: none;
}

.listBtn {
    position: absolute;
    left: 0px;
}

.back_btn {
    position: absolute;
    left: 0;
    padding: 1em;
    font-size: larger;
}

.scale-y-enter-active,
.scale-y-leave-active {
    transition: all 0.3s ease;
}

.scale-y-enter-from,
.scale-y-leave-to {
    opacity: 0;
    transform: scaley(2em);
}

.scale-x-enter-active,
.scale-x-leave-active {
    transition: all 0.3s ease;
}

.scale-x-enter-from,
.scale-x-leave-to {
    opacity: 0;
    transform: scalex(2em);
}
.box_code {
    border-right: 1px solid;
    padding-right: 6px;
}
.UE {
    color: #92429d !important;
}

.AAV {
    color: #156e1c !important;
}

.EC {
    color: #b80f0f !important;
}
.AAT {
    color: #ddcf61;
}

.fc-day-today {
    background-color: rgb(183 174 239 / 32%) !important;
}
