html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

header {
    padding: 0.5%;
    text-align: center;
    border-bottom: 1px solid #42429d;
    color: #42429d;
}

ul {
    list-style-type: none;
}

textarea {
    height: 150px !important;
}

.menu {
    text-align: center;
    position: fixed;
    left: 0;
    width: 20%;
}

button {
    border: 1px solid #42429d;
    background-color: #ffffff;
    color: #42429d;
}

.btn-primary {
    background-color: #42429d !important;
    border-color: #42429d !important;
    padding: 5px 10px;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: #42429d !important;
}

.btn_fa:hover {
    border-color: #42429da2;
    color: #42429da2;
}

.fa-solid {
    color: #42429d;
}

.primary_color {
    color: #42429d;
}

.box_code {
    padding: 0.5em;
    font-weight: bold;
    background-color: #42429d;
    color: white;
    border-radius: 8px;
}

.box_code.aav{
    background-color: #29a853;
}

.box_code.aat{
    background-color: #c21c1c;
}



.vuecal__cell--selected {
    background-color: #42429d3a !important;
    color: white;
}
.modal_calendar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    outline: 0;
}
.box_checkbox {
    display: flex;
    align-items: center;
    accent-color: #42429d;
}

.listChildUE {
    background-color: #f1f1f1;
    padding: 1.5em;
}

a {
    color: #42429d !important;
}

.linkedbtn {
    padding: 1em;
}

.menu .btn {
    width: 80%;
}

.fc-event-time {
    display: none;
}

.listBtn {
    position: absolute;
    left: 0px;
}

.box_AAT {
    padding: 3em;
    color: whitesmoke;
    background-color: #42429d;
    transition: background-color 1s, color 1s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 12px #a7a7a7;
}

.box_AAT:hover {
    background-color: whitesmoke;
    color: #42429d;
}

.box_AAT.selected {
    background-color: whitesmoke;
    color: #42429d;
}

.back_btn {
    position: fixed;
    left: 0;
    padding: 1em;
    font-size: larger;
}
