html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

header {
    padding: 0.5%;
    text-align: center;
    color: #42429d;
}

#app {
    background-color: #f7f7f7 !important;
}
.grey_color {
    color: #494949;
}

textarea {
    height: 150px !important;
}
button {
    border: 1px solid #42429d;
    background-color: #ffffff;
    color: #42429d;
}


.btn_fa:hover {
    border-color: #42429da2;
    color: #42429da2;
}

.primary_color {
    color: #2a71cde3;
}

.eventDetailed {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 12px #a7a7a7;
}

.close_detailed {
    text-align: right;
    margin-bottom: 1rem;
    font-size: larger;
}

.close_detailed .fa-solid {
    cursor: pointer;
}

.vuecal__cell--selected {
    background-color: #42429d3a !important;
    color: white;
}
.modal_calendar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    outline: 0;
}
.box_checkbox {
    display: flex;
    align-items: center;
    accent-color: #42429d;
}

.listChildUE {
    background-color: #f1f1f1;
    padding: 1.5em;
}

a {
    color: #42429d !important;
}

.linkedbtn {
    padding: 1em;
}

.fc-event {
    cursor: pointer;
}

.fc-event-time {
    display: none;
}

.listBtn {
    position: absolute;
    left: 0px;
}

.back_btn {
    position: absolute;
    left: 0;
    padding: 1em;
    font-size: larger;
}

.scale-y-enter-active,
.scale-y-leave-active {
    transition: all 0.3s ease;
}

.scale-y-enter-from,
.scale-y-leave-to {
    opacity: 0;
    transform: scaley(2em);
}

.scale-x-enter-active,
.scale-x-leave-active {
    transition: all 0.3s ease;
}

.scale-x-enter-from,
.scale-x-leave-to {
    opacity: 0;
    transform: scalex(2em);
}
.box_code {
    border-right: 1px solid;
    padding-right: 6px;
}
.UE {
    color: #92429d !important;
}

.AAV {
    color: #156e1c !important;
}

.PRO {
    color: cadetblue !important;
}
.AAT {
    color: #b80f0f !important;
}

.fc-day-today {
    background-color: rgb(183 174 239 / 32%) !important;
}

.ql-container {
    background-color: white;
}

.modal-backdrop {
    position: fixed !important;
    z-index: 1040 !important;
}

.modal {
    position: fixed !important;
    z-index: 1055 !important; /* plus haut que le backdrop */
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #42429d !important;
    border-color: #42429d !important;
}

.page-link {
    color: #42429d !important;
}

.form-check-input {
    accent-color: #42429d;
}

.tag_ects {
    border-radius: 20px;
    border: 1px solid #cfcfcf;
    padding: 0.1em 0.5em;
    color: #494949;
}

.btn_tree {
    padding: 0.3em 0.5em;
    color: #333333;
    border-color: #d9d9d9;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.secondary_color {
    color: #5a5a5a;
}
.semester-card {
    background: #fdfdfd;
}

.badge {
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 15px;
}

.ue-block {
    border-left: 2px solid #ddd;
    padding-left: 10px;
}

.ec-card {
    background: #fafafa;
}

.dot-green {
    height: 10px;
    width: 10px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-block;
}
.medium_mapping,
.weak_mapping,
.strong_mapping {
    border-radius: 100px;
    padding: 6px 12px;
    font-weight: 700;
}

.strong_mapping {
    color: green;
    border: 2px solid green;
    background-color: #e0ffe7;
}

.medium_mapping {
    color: orange;
    border: 2px solid orange;
    background-color: rgb(255, 232, 189);
}

.weak_mapping {
    color: #5a5a5a;
    border: 2px solid #5a5a5a;
    background-color: #e7e7e7;
}

.btn-outline-secondary {
    color: #080808;
    background-color: #f7f7f7;
    border-color: #e7e7e7;
}

.btn-outline-primary{
    color : #2a71cde3;
    border-color: #2a71cde3;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2a71cde3;
    border-color: #2a71cde3;
}

.btn-primary {
    background-color: #2a71cde3 !important;
    border-color: #2a71cde3 !important;
    padding: 5px 10px;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: #2a71cde3 !important;
}